* {
    box-sizing: border-box;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 5vh;
    background-color: lightskyblue;
    transition-duration: 1s;
    overflow: hidden;
}
.board {
    display: flex;
    border: 5px solid darkblue;
    background-color: black;
}

#column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slot {
    width: 80px;
    height: 80px;
    position: relative;
    transition-duration: 1s;
    z-index: 1;
}

.hole {
    position: absolute;
    border-radius: 35px;
    border: 5px solid white;
    top: 5px;
    left: 5px;
    width: 70px;
    height: 70px;
    transition-duration: 500ms;
}

.player1 {
    background-color: darkred;
}
.player2 {
    background-color: green;
}

.gameWon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 215px;
    width: 100vw;
    top: 2vh;
    background-color: blueviolet;
    z-index: -1;
    opacity: 0;
    transition-duration: 2s;
}

.followMouse {
    position: absolute;
    border-radius: 15px;
    background-color: darkred;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    z-index: 10;
}

.winText {
    font-size: 30px;
    font-style: italic;
    display: block;
    position: absolute;
    top: 60px;
}
.replay {
    font-size: 20px;
    display: block;
    position: absolute;
    top: 100px;
    padding: 5px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    background-color: yellow;
    cursor: pointer;
}
.dancer1 {
    font-size: 35px;
    position: absolute;
    font-size: 50px;
    position: absolute;
    top: 10px;
    left: 100vw;
    transition-timing-function: linear;
}

.dancer2 {
    font-size: 35px;
    position: absolute;
    font-size: 50px;
    position: absolute;
    bottom: 7px;
    left: -5vw;
    transition-timing-function: linear;
}

.highlight {
    background-color: lightslategray;
}

#hidden {
    visibility: hidden;
}

.highlight1 {
    background-color: lightcoral;
}

.highlight2 {
    background-color: lightgreen;
}

.glow {
    box-shadow: inset 0px 0px 6px 8px lightskyblue;
}
